/* @import './base.css'; */

#app {
    margin: 0 0;
    padding: 3px;
    font-weight: normal;
    height: 98vh;
}

body {
    min-height: 98vh;
    min-width: 98vw;
    background: #eff3f8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --tile-color-1: #eff3f8;
    --theme-color-1: hsl(209, 47%, 40%);
    --theme-color-2: hsl(209, 47%, 20%);
    --font-color-1: white;
    --border-color-1: rgb(204, 202, 202);
}